@page "/filestowages"
@using StowageApp.Shared.Entities
@using System.Net.Http.Json
@inject HttpClient http
@inject MyStorageBase storageService
@inject NavigationManager _navigationManager
@inject IJSRuntime JS


<h2>FileStowages</h2>

<form @onsubmit="OnSubmit" enctype="multipart/form-data">
    <InputFile class="form-control" OnChange="OnInputFileChange" />
    @Message
    <br />
    <button class="btn btn-success" type="submit">Enviar</button>
</form>

<br />

@if(fileStowages == null)
{
    <p>Carregando...</p>
}
else if(fileStowages.Length == 0)
{
    <p>Não existem arquivos cadastrados</p>
}
else
{
    <table class="table">
        <tr>
            <th>FileName</th>
            <th>FileSize</th>
            <th>RemotePath</th>
            <th>UploadDate</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Download</th>
        </tr>
        @foreach (var filestowage in fileStowages)
        {
            <tbody>
                <tr>
                    <td>@filestowage.FileName</td>
                    <td>@filestowage.FileSize</td>
                    <td>@filestowage.RemotePath</td>
                    <td>@filestowage.UploadDate</td>
                    <td>
                        <button class="btn btn-primary"><a @onclick="() => NavigateToEditPage(filestowage.ID)"> Edit</a></button>
                    </td>
                    <td>
                        <button class="btn btn-danger"><a @onclick="@(async() => await DeleteFile(filestowage.ID))"> Delete</a></button>
                    </td>
                    <td>
                            @*<button class="btn btn-primary" @onclick="@(async () => await DownloadFileFromURL(filestowage.FileName))">Download</button>*@
                            @*<a href="@($"/Download/{filestowage.FileName}")" download>@filestowage.FileName</a>*@
                        <a href="@($"/api/filestowage/Download/{filestowage.FileName}")" download>@filestowage.FileName</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@code {

    FileStowage[]? fileStowages { get; set; }
    string Message = "Sem arquivo selecionado";
    //Aqui, defino o IBrowserfile para pegar os dados de um arquivo vindo de um input
    IReadOnlyList<IBrowserFile>? selectedFiles;

    protected override async Task OnInitializedAsync()
    {
        await LoadFilesStowage();
    }

    async Task LoadFilesStowage() => fileStowages = await http.GetFromJsonAsync<FileStowage[]>("/api/filestowage");

    private void NavigateToEditPage(Guid id)
    {
        var editPageUri = $"filestowages/Edit/{id}";
        _navigationManager.NavigateTo(editPageUri);
    }

    async Task DeleteFile(Guid id)
    {
        await http.DeleteFromJsonAsync<FileStowage>($"/api/filestowage/{id}");
        await LoadFilesStowage();
    }

    void OnInputFileChange(InputFileChangeEventArgs args)
    {
        selectedFiles = args.GetMultipleFiles();
        Message = $"{selectedFiles.Count} arquivos selecionados";
        StateHasChanged();
    }

    //private async Task DownloadFileFromURL(string fileName)
    //{
    //    try
    //    {

    //        using (var fileStream = await storageService.DownloadAsync(fileName))
    //        {
    //            string url = @"C:\Users\windows\Desktop\C#\Stowage\StowageApp\Client\wwwroot\Folder";
    //            //byte[] fileBytes = new byte[fileStream.Length]; 
    //            await JS.InvokeVoidAsync("triggerFileDownload", fileName, url);
    //        }
    //    }
    //    catch (Exception ex)
    //    {
           
    //        Console.WriteLine($"Error downloading file: {ex.Message}");
    //    }
    //}

    async Task OnSubmit()
    {
        if (selectedFiles == null || selectedFiles.Count == 0)
            return;
        
        //O byte é uma forma de poder salvar dados do arquivo em um array de bytes, ficando mais fácil de manipular o arquivo
        byte[] bytes;

        foreach (var file in selectedFiles)
        {
            //Forma de manipular um arquivo para realizar operações
            using (Stream stream = file.OpenReadStream())
            {
                //Utilizando o MemoryStream facilito passar os dados do meu arquivo para o array
                using (MemoryStream memoryStream = new MemoryStream())
                {
                    await stream.CopyToAsync(memoryStream);
                    bytes = memoryStream.ToArray();
                }
            }
           //Utilizo o form para encaminhar as inrformações através de uma requisição HTTP
            var form = new MultipartFormDataContent();
            form.Add(new ByteArrayContent(bytes, 0, bytes.Length), "File", file.Name);
            var response = await http.PostAsync("/api/filestowage",form);
            response.EnsureSuccessStatusCode();
        }

        Message = $" O arquivo foi salvo com sucesso!";
        await LoadFilesStowage();
    }
}




